.categories_grid {
	display: grid;
	grid-template-columns: 1fr 0.85fr;
	grid-template-rows: auto;
	grid-gap: 1%;

	.add_product {
		cursor: pointer;
		margin-left: 10%;
		width: 30%;
		.bi-clipboard-plus {
			margin-left: 15%;
		}
	}
	.card {
		position: relative;
		cursor: pointer;
		width: 18rem;
		margin-left: 40%;
		.card-header {
			width: 18rem;
		}
		.list-group {
			z-index: 10;
			position: absolute;
			width: 100%;
			left: 0;
			top: 105%;
			.list-group-item {
				border: 0.1px solid rgba(51, 51, 51, 0.205);
			}
			.list-group-item:hover {
				background-color: rgb(231, 213, 213);
				color: #333;
			}
		}
	}
}
